@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.bg-custom-svg {
    background-image: url('/bg.svg');
}

.bg-subtle {
    background-image: url('/bg_main.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-overlay-important {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

@layer components {
    .font-logo {
        font-family: "Leckerli One", cursive;
    }

    /* Handle Modal problem */
    :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
        scrollbar-gutter: auto;
    }

    html:has(.drawer-toggle:checked) {
        scrollbar-gutter: auto;
    }

    /* Pre-defined css rule for page structure */
    .page-content-wrapper {
        @apply w-full h-full lg:max-h-[40rem] xl:max-w-[80rem] overflow-hidden
    }

    .page-preset {
        @apply w-full h-full p-6 md:p-10 gap-6
    }
}